* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  height: 64px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: none;
  padding: 19px 35px;
  background-color: #fd6e0a;
}
/* header and navigation styles */
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
/* banner styles */
.banner {
  display: flex;
  align-items: center;
  margin: 0 200px;
}
.banner-greeting {
  color: #474747;
  font-weight: 600;
  font-size: 45px;
}
.banner-author {
  color: #181818;
  font-weight: 700;
  font-size: 85px;
  margin: 5px 0 20px;
}
.banner-para {
  color: #474747;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}
.banner-img {
  padding-left: 222px;
}
/* main section styles */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section styles */

.about {
  margin-top: 130px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 156px;
  text-align: center;
}
.section-title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}
.section-para {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
}
/* about info container style */

.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-title {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.info-details {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #474747;
}

/* what i do section styles */

.what-do {
  margin-top: 130px;
}
.what-do-container {
  display: flex;
  gap: 24px;
}
.what-do-single {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 130px;
}
.what-do-header {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin: 30px 0;
}
.what-do-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

/* resume section style */

.resume-main-container {
  display: flex;
  color: #474747;
  gap: 70px;
}
.resume-main-title {
  font-weight: 700;
  font-size: 30px;
  margin: 40px 0 30px;
}
.resume-single {
}
.resume-title-single {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  margin:30px 0 10px;
}
.resume-year {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.resume-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  margin-bottom: 20px;
}
.resume-btn{
  text-align: center;
  margin: 50px 0 100px;
}